body { font-size: 24px; margin: 0; padding: 0; }
.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

table {
  border-collapse: collapse;
  box-shadow: 4px 4px 4px 2px gray;
  /* transform: rotate(-15deg); */
}

table > caption {
  background-color: blueviolet; /* Easter styles only. revert to black after easter. */
  color: white;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-weight: 900;
  text-shadow: 1px 1px 1px black;
  border-radius: 12px 12px 0 0;
}

td, th {
  padding: 1em;
  border: 1px solid salmon;
}

th {
  background-color: rgba(100, 23, 45, 0.25);
  text-align: left;
  text-shadow: 1px -1px 1px white;
}

tbody .right-align,
thead .right-align {
  background-color: gainsboro;
}

tbody .right-align {
  font-weight: 300;
}

tfoot > tr > td {
  background-color: darkmagenta;
  color: ghostwhite;
  font-size: 13px;
  font-weight: 500;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

td.ra {
  text-align: right;
  font-weight: lighter;
}