table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
}

div.form-field {
  padding: 10px;
  border: 1px solid gold;
}

#first-name {
  border: 1px solid green;
  font-weight: bolder;
}

input[type=password] {
  border: 2px solid red;
  background-color: coral;
  color: white;
}